body{
    margin: 0;
    background-color: #cecece;
}

h1{
    font-family: 'Acme', sans-serif;
    font-size: 3.9rem;
    text-align: center;
    margin: 40px;
    color: #413e3e;
    text-shadow: 0px 3px 10px #7e7e7ee7;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}

input {
    margin: 5px;
    padding: 5px;
    width: 300px;
    border-style: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    box-shadow: 0px 2px 10px #7e7e7ee7;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.3rem;
    background-color: #e4e4e4ce;
}
input::placeholder{
    color: #7c7c7c;
}


button{
    margin: 20px;
    border: none;
    background-color: #5fe4b7;
    color: #2f8669;
    padding: 0.4rem 0.3rem;
    letter-spacing: 1px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 15px #7e7e7ee7;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: #34c595;
    transform: translateY(-5px);
    box-shadow: 0px 4px 20px #64f5c5e7;
    color: #64f5c5e7;
}
button:active {
    transform: translateY(-1px);
}
